#game-grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #000;
}

#game-grid div {
  border: 0.15em solid #000;
  box-sizing: border-box;
  background-color: cyan;
}