/* Google Fonrts */
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&family=Pacifico&display=swap');

/* Initial Resets */
body {
  padding: 0;
  margin: 0;
  font-family: Pacifico, 'sans-serif';
  list-style: none;
  text-decoration: none;
  text-align: center;
}

h1,
h2,
p {
  padding: 0;
  margin: 0;
  font-weight: 100;
}

/* Header section */
header {
  width: 100%;
  height: 10vh;
  background-color: #000;
  color: #fff;
}

header img {
  display: inline-block;
  height: inherit;
}

header h1 {
  display: inline-block;
  margin: 0 10vw;
  height: inherit;
  vertical-align: top;
  font-size: 5vh;
}

/* Splash screen section */
#splash-screen {
  margin-bottom: 5vh;
}

#splash-screen h1 {
  font-weight: 100;
  font-size: 5vh;
  border-bottom: 0.25em solid #000;
  padding: 0.25em;
}

.splash-screen-label {
  display: block;
  font-size: 3vh;
  margin: 1vh;
}

#splash-screen-error {
  color: #c00;
}

#input-username {
  display: block;
  font-size: 3vh;
  font-family: inherit;
  font-weight: inherit;
  margin: 1vh auto;
  padding: 10px;
  width: 40%;
  text-align: center;
  border: 0.25em solid #000;
  border-radius: 0.5em;
}

#input-localstorage {
  transform: scale(200%);
  cursor: pointer;
}

#splash-screen-play {
  width: fit-content;
  font-size: 4vh;
  border: 0.25em solid #000;
  border-radius: 0.75em;
  padding: 0.25em;
  box-sizing: border-box;
  margin: 1vh auto;
  cursor: pointer;
}

#splash-screen-play:hover {
  color: #fff;
  background-color: #000;
  border-radius: 0.75em;
}

#splash-screen-play:active {
  border-color: #fff;
}

#splash-screen-reset {
  font-size: 2vh;
  border: 0.25em solid #000;
  border-radius: 0.5em;
  width: fit-content;
  padding: 5px;
  margin: 1vh auto;
  cursor: pointer;
}

#splash-screen-reset:hover {
  background-color: #000;
  color: #fff;
}

#splash-screen-reset:active {
  border-color: #fff;
}

/* Menu button section */
#menu-button-section {
  width: fit-content;
  margin: 2vh auto;
  columns: 2;
}

#menu-button-section h2 {
  font-size: 3vh;
  border: 0.25em solid #000;
  border-radius: 0.75em;
  padding: 0.25em;
  box-sizing: border-box;
  cursor: pointer;
}

#menu-button-section h2:hover {
  color: #fff;
  background-color: #000;
  border-radius: 0.75em;
}

#menu-button-section h2:active {
  border-color: #fff;
}

#close-page-button {
  position: absolute;
  padding: 0 10px;
}

/* Game score section */
#score-section h2 {
  font-size: 3vh;
}

/* Game section */
#game-section {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border: 0.25em solid #000;
  border-radius: 0.5em;
  box-sizing: border-box;
  font-size: 3vh;
  overflow: hidden;
  background-color: #000;
}

#close-page-button:hover {
  color: #fff;
}

.game-section-pages {
  width: 100%;
  height: 100%;
}

#instructions-page {
  background-color: orange;
}

#history-page {
  background-color: blue;
}

#game-grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

#game-grid h2 {
  border: 0.15em solid #000;
  border-radius: 0.5em;
  box-sizing: border-box;
  line-height: 250%;
}

#game-results {
  display: none;
  width: 100%;
  min-height: 100%;
  background-color: orange;
}

/* Game controls section */
#controls-section {
  font-size: 6.5vh;
  line-height: 7.5vh;
  position: fixed;
  bottom: 4vh;
  width: 100%;
}

.control-bottom {
  display: inline-block;
}

/* Footer - tips */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4vh;
  line-height: 4vh;
  text-align: left;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

#tips {
  padding: 0 1vw;
  font-size: 2vh;
  width: fit-content;
  font-family: Bubbles;
}

.tips-animation {
  transform: translateX(100%);
  animation: tipanimation 10 linear;
}

@keyframes tipanimation {
  from {
    transform: translateX(100vw);
  }

  to {
    transform: translateX(-100%);
  }
}

/* Media queries */
@media screen and (max-width:500px) {
  header h1 {
    margin: 0 3vw;
  }

  #menu-button-section h2 {
    font-size: 2vh;
  }
}