/* Google Fonrts */
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&family=Pacifico&display=swap');

/* Initial Resets */
body {
  padding: 0;
  margin: 0;
  font-family: Pacifico, 'sans-serif';
  list-style: none;
  text-decoration: none;
  text-align: center;
}

h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
  font-weight: 100;
}

/* Header section */
header {
  width: 100%;
  height: 10vh;
  background-color: #000;
  color: #fff;
}

/* Header section - images */
header img {
  display: inline-block;
  height: inherit;
}

/* Header section - site title */
header h1 {
  display: inline-block;
  margin: 0 10vw;
  height: inherit;
  vertical-align: top;
  font-size: 5vh;
}

/* Splash screen section */
#splash-screen {
  margin-bottom: 5vh;
}

/* Splash screen section - heading */
#splash-screen h2 {
  font-weight: 100;
  font-size: 5vh;
  border-bottom: 0.25em solid #000;
  padding: 0.25em;
}

/* Splash screen section - input labels */
.splash-screen-label {
  display: block;
  font-size: 3vh;
  margin: 1vh;
}

/* Splash screen section - error label */
#splash-screen-error {
  color: #c00;
}

/* Splash screen section - username input */
#input-username {
  display: block;
  font-size: 3vh;
  font-family: inherit;
  font-weight: inherit;
  margin: 1vh auto;
  padding: 10px;
  width: 40%;
  text-align: center;
  border: 0.25em solid #000;
  border-radius: 0.5em;
}

/* Splash screen section - localStorage input */
#input-localstorage {
  transform: scale(2);
  cursor: pointer;
}

/* Splash screen section - play button */
#splash-screen-play {
  width: fit-content;
  font-size: 4vh;
  border: 0.25em solid #000;
  border-radius: 0.75em;
  padding: 0.25em;
  box-sizing: border-box;
  margin: 1vh auto;
  cursor: pointer;
}

#splash-screen-play:hover {
  color: #fff;
  background-color: #000;
  border-radius: 0.75em;
}

#splash-screen-play:active {
  border-color: #fff;
}

/* Splash screen section - reset button */
#splash-screen-reset {
  font-size: 2vh;
  border: 0.25em solid #000;
  border-radius: 0.5em;
  width: fit-content;
  padding: 5px;
  margin: 1vh auto;
  cursor: pointer;
}

#splash-screen-reset:hover {
  background-color: #000;
  color: #fff;
}

#splash-screen-reset:active {
  border-color: #fff;
}

/* Menu button section */
#menu-button-section {
  width: fit-content;
  margin: 2vh auto;
  columns: 2;
}

/* Menu button section - menu button text */
#menu-button-section h2 {
  font-size: 3vh;
  border: 0.25em solid #000;
  border-radius: 0.75em;
  padding: 0.25em;
  box-sizing: border-box;
  cursor: pointer;
}

#menu-button-section h2:hover {
  color: #fff;
  background-color: #000;
  border-radius: 0.75em;
}

#menu-button-section h2:active {
  border-color: #fff;
}

/* Game score section */
#score-section h2 {
  font-size: 3vh;
}

/* Game section */
#game-section {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border: 0.25em solid #000;
  border-radius: 0.5em;
  box-sizing: border-box;
  font-size: 3vh;
  background-color: #000;
  overflow: hidden;
}

/* Game section - close page button */
#close-page-button {
  color: #fff;
  position: absolute;
  padding: 0 10px;
}

#close-page-button:hover {
  color: #5f5f5f;
}

/* Game section - pages */
.game-section-pages {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  color: #fff;
  padding: 0 1vw;
  box-sizing: border-box;
  font-family: Bubbles;
}

/* Game section - pages - headings */
.game-section-pages h3 {
  border-top: 0.25em solid #fff;
  padding-top: 1vmin;
  margin-top: 1vmin;
}

/* Game section - score history page - scores */
#score-history-all div {
  border: 0.05em solid #fff;
  border-radius: 0.5em;
  margin: 0.2em 0;
  padding: 0.1em;
}

/* Game section - game page */
#game-page {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

/* Game section - game page - game grid */
#game-grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* Game section - game page - game grid - tile numbers */
#game-grid h2 {
  border: 0.15em solid #000;
  border-radius: 0.5em;
  box-sizing: border-box;
  line-height: 250%;
}

/* Game section - game results page */
#game-results {
  display: none;
  width: 100%;
  min-height: 100%;
  color: #fff;
  border: 0.25em solid #fff;
  border-radius: 0.5em;
  box-sizing: border-box;
}

/* Game section - game results page - headings */
#game-results h3 {
  box-sizing: border-box;
  border-bottom: 0.15em solid #fff;
}

/* Game section - game results page - game outcome heading */
#results-outcome {
  box-sizing: border-box;
  border-bottom: 0.15em solid #fff;
}

/* Game section - game results page - game restart button */
#game-reset {
  width: fit-content;
  margin: 1.5vh auto;
  padding: 1vh;
  border: 0.25em solid #fff;
  border-radius: 0.5em;
  box-sizing: border-box;
}

#game-reset:hover {
  color: #000;
  background-color: #fff;
}

#game-reset:active {
  border-color: #000;
}

/* Game controls section */
#controls-section {
  font-size: 6.5vh;
  line-height: 7.5vh;
  position: fixed;
  bottom: 4vh;
  width: 100%;
}

/* Game controls section - bottom row buttons */
.control-bottom {
  display: inline-block;
}

/* Footer - tips */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4vh;
  line-height: 4vh;
  text-align: left;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

/* Footer - scrolling tips */
#tips {
  padding: 0 1vw;
  font-size: 2vh;
  width: fit-content;
  font-family: Bubbles;
}

/* Footer - scrolling tips animation */
.tips-animation {
  transform: translateX(100%);
  animation: tipanimation 10 linear;
}

/* Footer - scrolling tips keyframes */
@keyframes tipanimation {
  from {
    transform: translateX(100vw);
  }

  to {
    transform: translateX(-100%);
  }
}

/* Media queries */
@media screen and (max-width:500px) {
  /* Header section - site title */
  header h1 {
    margin: 0 3vw;
  }

  /* Menu button section - menu button text */
  #menu-button-section h2 {
    font-size: 2vh;
  }
}